@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900|Roboto:300,400,700,900');
body{
	font:300 24px/1.5 'Roboto', sans-serif;
color:  #303030;
background-color: #eee;
letter-spacing: 0.025em;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1222px;

}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-intro {
	background-color: #ECECEC;
	padding:49px 0 55px;

}
.ba-slide-section{
	max-width: 1182px;
	margin:0 auto;
}
.ba-header {
	max-width: 1182px;
	display: flex;
	align-items: center;
	margin: 0 auto 80px;
}
.ba-slide-image {
	display: inline-block;
}
.ba-title {
	font:900 48px/27px 'Roboto', sans-serif;
	margin: 0;
}
.ba-menu {
	font:400 18px/27px 'Roboto', sans-serif;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding:0;
	list-style: none;
}
.ba-menu a{
	text-decoration: none;
	color:  #303030;
}
.ba-nav{
	flex-grow: 1;

}
.ba-menu li:first-child a{
	margin-right:49px;
}
.ba-first-slide-article {
	display: inline-block;
	width: 52.2%;
	text-align: right;
}
.ba-first-slide-article a{
	text-decoration: none;
}
.ba-first-slide-article h4:hover{
	color:  #303030;
}
.ba-slide-image{
	display: inline-block;
	width:46.8%;
	text-align: center;
	vertical-align: top;
}
.ba-slide-paragraph{
	margin:28px 0 15px 15px;
}
.ba-slide-image {
	display:inline-block;
}
.ba-slide-title{
	font: 900 150px/1 'Raleway', sans-serif;
	color:  #303030;
	text-transform: uppercase;
	text-align: right;
	margin: 0;
}
.ba-slide-subtitle{
	font:700 24px/1.5 'Roboto' , sans-serif;
	color:  #e10011;
	margin-top: 10px;
}
.ba-menu a:hover {
	cursor: pointer;
	color: #e10011;
}
.ba-menu-item {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	margin:0 0 8px 35px;
}
.ba-menu-item span,
.ba-menu-item span:before,
.ba-menu-item span:after{
 cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 16px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
.ba-menu-item span:after{
	top:-6px;
}
.ba-menu-item span:before{
	bottom:-6px;
}
.ba-slide-radio{
	margin:36px auto;
	text-align: center;
	padding-left: 30px;
}
.ba-slide-radio input:after{
	content: "";
	display: block;
	height: 13px;
	width: 13px;
	right: -5.5px;
	border:1px solid black;
	border-radius: 50%;
	background-color: black;
}

.ba-slide-radio input:hover{
	cursor: pointer;
}
.ba-slide-radio [type="radio"]:checked:after{
	background-color: #E10011;
}
.ba-feature {
	max-width: 1198px;
	background-color: #fff;
	margin: 0 auto 100px;
	padding: 70px;
}
.ba-news {
	max-width: 1182px;
	margin: 0 auto;
}
.ba-feature-title {
	font:900 48px/1.5 'Raleway', sans-serif;
	color:  #303030;
	text-align: center;
	margin:0;
}
.ba-feature-title:after{
	display: block;
	content: '';
	width: 100%;
	height: 16px;
	background: url('../img/underline.png') no-repeat 50% 50%;
	margin-bottom: 10px;
}
.ba-news-title{
	text-transform: uppercase;
}
.ba-article{
	max-width: 585px;
	margin: 0 auto;
}
.ba-paragraph {
	font:400 18px/24px 'Raleway', sans-serif;
	color:  #303030;
	margin: 0 auto 68px;
}
.ba-images {
	max-width: 1057px;
	margin: 0 auto;
}
.ba-image-link img{
	display: block;
	width: 100%;
}
.ba-image-link+.ba-image-link {
	margin-top: 35px;
}
.ba-image-link{
	color: #fff;
	text-decoration: none;
	position: relative;
	display: block;
	border-radius: 10px;
	overflow: hidden;
}
.ba-row {
	margin-left: -35px;
}
.ba-row+.ba-row {
	margin-top: 35px;:
}
[class*="ba-col-"] {
	float: left;
	padding-left: 35px;
}
.ba-col-33 {
	width:33.33%;
}
.ba-col-66 {
	width: 66.66%;
}
.ba-work-description {
	background-color: rgba(225, 0, 17, 0.83);
	padding: 10px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	opacity: 0;
}
.ba-image-link:hover .ba-work-description {
	opacity: 1;
}
.ba-work-description p{
	margin: 0;
}
.ba-work-description__title {
	margin: 0;
}
input[type="text"]::-webkit-input-placeholder {
	font:600 18px/24px 'Raleway', sans-serif;
	color:  #979797;
	font-style: italic;
	text-align: left;
}
input[type="text"]::-moz-placeholder{
	font:600 18px/24px 'Raleway', sans-serif;
	color:  #979797;
	font-style: italic;
	text-align: left;
}
.ba-form{
	display: block;
	max-width: 704px;
	margin:50px auto;
	text-align: center;

}
.ba-form button {
	display: inline-block;
	width: 180px;
	height: 70px;
	vertical-align: middle;
	border: none;
	background: #E10011;
	cursor: pointer;
	border-radius: 0 500em 500em 0;
}
/*.ba-form button:after{
	position: relative;
	content: "";
	display: block;
	height: 70px;
	width: 70px;
	bottom:51px;
	left: 135px;
	border-radius: 50%;
	background-color:  #E10011;
}*/
.ba-button span{
	font:900 18px/1 'Roboto' , sans-serif;
	color:  #ffffff;
	text-align: right;
	text-transform: uppercase;
}
.ba-form input {

	display: inline-block;
width: 466px;
height: 70px;
vertical-align: middle;
border: none;
background: #fff;
cursor: pointer;
border-radius: 500em 0 0 500em;
padding-left: 40px;
}


.ba-footer {
	text-align: center;
}
.ba-copyright {
	font:400 18px/24px 'Raleway', sans-serif;
	color:  #979797;
	text-align: center;
}
.ba-copyright span{
	color:  #303030;
}
.ba-work-description__title:after{
content: "";
width: 15px;
border-bottom: : 2px solid #fff;
}
